<div class="ui segment piled">
  <%= simple_form_for movie do |form| %>

    <div class="two fields">
      <%= form.input :name %>
      <%= form.input :rating, input_html: { min: 0, max: 5, value: 0 } %>
    </div>

    <div class="two fields">
      <%= form.input :actors %>
      <%= form.input :director %>
    </div>

    <%= form.input :synopsis, wrapper: :textfield %>

    <%= form.label :pictures, class: 'ui button' %>
    <%= form.file_field :pictures, multiple: true, style: "display:none;" %>
    <%= form.button :submit, class: 'right floated primary' %>

    <%= render 'shared/form_errors', object: movie %>
  <% end %>
</div>
