<h1 class="ui header">Movies</h1>

<div class="ui cards">
  <% @movies.each do |movie| %>
    <div class="card">
      <div class="ui slide masked <%= movie.pictures.size > 1 ? 'reveal' : '' %> image">
        <% if movie.pictures.empty? %>
          <%= image_tag('placeholder.png') %>
        <% else %>
          <% movie.pictures.each_with_index do |picture, index| %>
            <%= image_tag(picture.url, size: 250, alt: "picture#{index}",
              class: "content #{index > 0 ? 'hidden' : 'visible'}") %>
          <% end %>
        <% end %>
      </div>
      <div class="content">
        <div class="meta right floated">
          <%= render 'rating', rating: movie.rating %>
        </div>
        <div class="header"><%= movie.name %></div>
        <div class="meta">
          <%= movie.actors %>
        </div>
        <div class="description">
          <%= movie.synopsis %>
        </div>
      </div>
      <div class="extra content">
        <span class="right floated">
          <%= semantic_icon('image') %>
          <%= movie.pictures.size %>
        </span>
        <span>
          <%= link_to movie, method: :get, class: 'ui circular icon' do %>
            <%= semantic_icon('eye') %>
          <% end %>
          <%= link_to edit_movie_path(movie), method: :get, class: 'ui circular icon' do %>
            <%= semantic_icon('edit') %>
          <% end %>
          <%= link_to movie, method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui circular icon' do %>
            <%= semantic_icon('trash alternate') %>
          <% end %>
        </span>
      </div>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Movie', new_movie_path, {class: 'ui button'} %>
