<div class="ui segments raised">
  <div class="ui segment clearing red">
    <h1 class="ui left floated header no-bottom-margin"><%= @movie.name %></h1>
    <%= render 'rating', rating: @movie.rating %>
  </div>

  <div class="ui segment">
    <div class="ui medium images">
      <% if @movie.pictures.empty? %>
        <%= image_tag('placeholder.png') %>
      <% else %>
        <% @movie.pictures.each_with_index do |picture, index| %>
          <%= image_tag(picture.url, class: 'ui image rounded', alt: "picture#{index}") %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="ui segment">
    <strong>Synopsis:</strong>
    <%= @movie.synopsis %>
  </div>

  <div class="ui segments horizontal">
    <div class="ui segment">
      <strong>Actors:</strong>
      <%= @movie.actors %>
    </div>

    <div class="ui segment">
      <strong>Director:</strong>
      <%= @movie.director %>
    </div>
  </div>
</div>

<div class="ui buttons">
  <%= link_to 'Back', movies_path, class: 'ui button' %>
  <div class="or"></div>
  <%= link_to 'Edit', edit_movie_path(@movie), class: 'ui button yellow' %> |
</div>
