<div class="ui segments raised">
  <div class="ui segment clearing red">
    <h1 class="ui left floated header no-bottom-margin"><%= @movie.name %></h1>
    <%= render 'rating', rating: @movie.rating %>
  </div>

  <div class="ui segment">
    <div class="ui medium images">
      <% @movie.pictures.each_with_index do |picture, index| %>
        <%= image_tag(picture.url, class: 'ui image rounded', alt: "picture#{index}") %>
      <% end %>
    </div>
  </div>

  <div class="ui segment">
    <strong>Synopsis:</strong>
    <%= @movie.synopsis %>
  </div>

  <div class="ui segments horizontal">
    <div class="ui segment">
      <strong>Rating:</strong>
      <%= @movie.rating %>
    </div>

    <div class="ui segment">
      <strong>Actors:</strong>
      <%= @movie.actors %>
    </div>

    <div class="ui segment">
      <strong>Director:</strong>
      <%= @movie.director %>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_movie_path(@movie), class: 'ui button' %> |
<%= link_to 'Back', movies_path %>
